@keyframes slidy {
11% { left: 0%; }
22% { left: -100%; }
33% { left: -100%; }
44% { left: -200%; }
55% { left: -200%; }
66% { left: -300%; }
77% { left: -300%; }
88% { left: -400%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  font-size: 0;
  animation: 20s slidy infinite; 
}

